

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background: snow;
  font-weight: 500;
  
}

.sidenav .mat-toolbar {
  background: inherit;
  color: grey;
  font-weight: 600;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
