<div class="container">
  <h1>Anket Liste</h1>

  <mat-form-field appearance="outline" style="width: 50%;">
    <input matInput placeholder="Aranacak Değer Girin" (keyup)=" Filtrele($event)">
  </mat-form-field>
  <span>&nbsp; &nbsp;</span>
  <button mat-fab color="primary" matTooltip="Anket Ekle" (click)="Ekle()">
    <mat-icon aria-label="label">assignment_turned_in</mat-icon> 
  </button>
  <p>&nbsp;</p>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="anketKodu">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Anket Kodu
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.anketKodu}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="anketAdi">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Anket Adı
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.anketAdi}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="anketKatId">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Anket Kategori Kodu
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.anketKatId}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="anketSoruSayisi">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Anket Soru Sayısı
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.anketSoruSayisi}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="detay">
      <mat-header-cell *matHeaderCellDef>İşlemler
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit">
        <button mat-icon-button color="primary"  matTooltip="Kullanıcı Listele" [routerLink]="['/kullistele',kayit.anketId]">
          <mat-icon aria-label="label">person</mat-icon>
        </button>
        <button mat-icon-button color="accent"  matTooltip="Anket Düzenle" (click)="Duzenle(kayit)">
          <mat-icon aria-label="label">edit</mat-icon>
        </button>
        <button mat-icon-button color="warn"  matTooltip="Anket Sil" (click)="Sil(kayit)">
          <mat-icon aria-label="label">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
  </mat-paginator>

</div>