<mat-toolbar color="primary" class="mat-elevation-z6">
  <span>Fotoğraf Güncelle</span>
</mat-toolbar>
<div class="container">
<div *ngIf="secKullanici">
  <h3><b>Kullanıcı No:</b> {{secKullanici.kulNo}} &nbsp; <b>Ad-Soyad:</b> {{secKullanici.kulAdsoyad}}</h3>
  <img [src]="apiService.siteUrl+ '/Dosyalar/'+ secKullanici.kulFoto " style="width:200px ;" >
</div>

  <img [src]="secilenFoto" *ngIf="secilenFoto" style="width:200px ;" >
  <p>&nbsp;</p>
  <input type="file" hidden="true" onclick="this.value=null" #foto  (change)="FotoSec($event)">
  <button mat-raised-button color="primary" (click)="foto.click()">Fotoğraf Seç</button> &nbsp;


    <button mat-raised-button color="primary" (click)="fotoDialogRef.close(kulFoto)">Kaydet</button> &nbsp;
    <button mat-raised-button color="warn" (click)="fotoDialogRef.close()">İptal Et</button>
</div>