<mat-toolbar color="primary" class="mat-elevation-z6">
  <span>{{dialogBaslik}}</span>
</mat-toolbar>
<div class="container">
  <form [formGroup]="frm">
    <mat-form-field appearance="outline">
      <mat-label>Anket Kodu</mat-label>
      <input matInput placeholder="Anket Kodu" name="anketKodu" formControlName="anketKodu" required type="text">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Anket Adı</mat-label>
      <input matInput placeholder="Anket Adı" name="anketAdi" formControlName="anketKodu" required type="text">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Anket Kategori Kodu</mat-label>
      <input matInput placeholder="Anket Kategori Kodu" name="anketKatId" formControlName="anketKodu" required type="text">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Anket Soru Sayısı</mat-label>
      <input matInput placeholder="Anket Soru Sayısı" name="anketSoruSayisi" formControlName="anketKodu" required type="number">
    </mat-form-field>
  </form>

  <button mat-raised-button color="primary" (click)="dialogRef.close(frm.value)"
    [disabled]="frm.invalid">Kaydet</button> &nbsp;
  <button mat-raised-button color="warn" (click)="dialogRef.close()">İptal</button>
</div>